<script async src="{{ site.baseurl | prepend: site.url }}/assets/js/jquery-1.12.2.min.js"></script>
<script async src="{{ site.baseurl | prepend: site.url }}/assets/js/backtotop.js"></script>
<script async src="{{ site.baseurl | prepend: site.url }}/assets/js/lunr.min.js"></script>
<script async src="{{ site.baseurl | prepend: site.url }}/assets/js/lunr-feed.js"></script>
<script async src="{{ site.baseurl | prepend: site.url }}/assets/js/jquery.fitvids.js"></script>
<script async src="{{ site.baseurl | prepend: site.url }}/assets/js/scripts.js"></script>
<script async src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>

{% if site.analytics_code != null %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T43TMRBVGG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '{{site.analytics_code}}');
    </script>
{% endif %}
