<!DOCTYPE html>
<html lang="de">
    {% include head.html %}

    <body>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url}}" lazyload="1">
        <div class="wrapper clear">
            {% include sidebar.html %}

            <main class="the-content" role="main">
                {% if page.url == "/" %}
                    {% include search.html %}
                {% endif %}
                {{ content }}
            </main>
        </div>

        {% include scripts.html %}
    </body>
</html>
